.textAbout {
  margin-bottom: 2.5rem;
  color: var(--color-text-light);
  animation: animation 1s ease-in-out;

  & h3 span {
    color: var(--color-input);
    font-family: "Mochiy Pop P One";
  }

  & p {
    font-size: 1.2rem;
  }
}

.containerPersonal {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  animation: animation 1s ease-in-out;
}

.personalInformation {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 5rem;

  & p {
    color: var(--color-input);
    font-weight: 500;
    margin-bottom: 0.5rem;

    & span {
      color: var(--color-text-light);
    }

    & a {
      text-decoration: revert;
      color: var(--color-text-light);
      margin-left: 0.2rem;

      &:hover {
        color: #43424b;
      }
    }
  }

  & button,
  .contactLink {
    margin: 2rem 2rem 0 0;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    background-color: var(--color-input);
    color: var(--color-text-light);
    font-size: 1.3rem;
    box-shadow: 2px 5px 7px var(--color-text-light);
    cursor: pointer;
    font-weight: 600;
    transition: 1s;

    &:hover {
      background-color: var(--color-btn);
      color: var(--color-text-light);
    }
  }

  .contactLink {
    background-color: var(--color-input);
    transition: 1s;

    &:hover {
      background-color: var(--color-btn);
      color: var(--color-text-light);
    }
  }
}

.containerForm {
  display: flex;
  gap: 5rem;

  & h3 {
    text-align: center;
  }
}

.training,
.containerExp {
  background-color: var(--color-bg-icons-light);
  padding: 1.2rem 2rem;
  border-radius: 20px;
  box-shadow: 2px 10px 7px var(--color-text-light);
  height: 100%;
  margin-bottom: 1.5rem;

  & p {
    font-size: 1rem;
    font-weight: 500;
    color: #474747;
  }

  & h4 {
    font-size: 1.2rem;
    margin-top: 2rem;
    color: var(--color-text-light);
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      color: var(--color-input);
    }
  }

  & h5 {
    color: var(--color-text-light);
  }
}

.containerExp,
.training {
  width: 500px;
  animation: animation 1s ease-in-out;
}

.experience {
  & h4 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  & p {
    font-size: 1rem;
    font-weight: 500;
    color: #474747;
  }
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translate3d(-500px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
