.contactContainer {
  background-color: var(--color-bg-icons-light);
  padding: 50px;
  border-radius: 100px;
  text-align: center;
  animation: animation 1s ease-in-out;

  & h3 {
    margin-bottom: 3rem;
  }

  & .icons {
    display: flex;
    gap: 4rem;
    justify-content: center;
  }

  & svg {
    color: var(--color-input);
    font-size: 5rem;
    transition: 0.5s;

    &:hover {
      color: var(--color-text-light);
    }
  }
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translate3d(-500px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@media (max-width: 1024px) {
  .contactContainer {
    & .icons {
      display: flex;
      gap: 3rem;
    }
  }
}

@media (max-width: 800px) {
  .contactContainer {
    & .icons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    & svg {
      font-size: 5rem;
    }
  }
}

@media (max-width: 425px) {
  .contactContainer {
    & svg {
      font-size: 3rem;
    }
  }
}
