.container {
  display: flex;
  padding: 3rem 8rem;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  animation: animation 1s ease-in-out;
}

.photo {
  width: 450px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 30px;
  box-shadow: -10px 15px 12px var(--color-text-light);
}

.title {
  & h1 {
    font-family: "Mochiy Pop P One", sans-serif;
    color: var(--color-text-light);
    font-size: 2.3rem;
  }

  & span {
    color: var(--color-input);
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
  }

  & h2 {
    font-family: "Mochiy Pop P One";
    color: var(--color-input);
    font-size: 2rem;
    text-align: center;
    letter-spacing: 3px;
  }

  & .textHome {
    color: var(--color-text-light);
    font-size: 1.2rem;
    margin-top: 2rem;
    text-align: center;
    font-weight: 500;
  }
}

.seeMoreBtn {
  background-color: var(--color-text-light);
  color: var(--color-btn);
  font-weight: 700;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s;

  &:hover {
    background-color: var(--color-input);
    color: var(--color-bg-icons-light);
    max-width: 300px;
  }
}

.seeMoreBtn:last-child {
  margin-top: 2rem;
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translate3d(-500px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
