nav,
.darkMode {
  position: fixed;
  padding: 3rem;
  margin-right: 20px;
}

.darkMode {
  right: 0;
  text-decoration: none;
  color: var(--color-input);
  cursor: pointer;
  padding: 0;
  margin: 2rem;
  border-radius: 25%;
}

.iconContainer {
  position: relative;
  text-align: center;
  list-style: none;
  font-size: 1.7rem;
  margin-top: 20px;
  background-color: var(--color-bg-icons-light);
  padding: 15px;
  border-radius: 50%;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  & svg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  & .icon {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 1024px) {
  nav,
  .darkMode {
    padding: 3rem 2rem;
    margin-right: 15px;
  }

  .darkMode {
    margin: 0;
  }

  .iconContainer {
    padding: 10px;
  }
}

@media (max-width: 425px) {
  nav,
  .darkMode {
    padding: 3rem 0.5rem;
    margin-right: 15px;
  }
}
