.icons {
  position: relative;
  text-align: center;
  list-style: none;
  font-size: 1.5rem;
  margin-top: 20px;
  background-color: var(--color-bg-icons-light);
  padding: 15px;
  border-radius: 50%;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.iconText {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  opacity: 0;
  font-size: 1.2rem;
  background-color: var(--color-input);
  color: var(--color-bg-icons-light);
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.icons:hover .iconText {
  opacity: 1;
  visibility: visible;
}
