* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --cor-input: #1900ff;
  --cor-branco: #ffffff;
  --cor-preta: #000000;
  --cor-fundo: #cecece;
  --cor-botao: #ffffff;

  /* --cor-input: #1900ff;
  --cor-branco: #000000;
  --cor-preta: #ffffff;
  --cor-fundo: #000000;
  --cor-botao: #000000; */
}

body {
  background-color: var(--cor-fundo);
}

/* nav */

nav,
.darkMode {
  position: fixed;
  padding: 3rem;
}

.darkMode {
  right: 0;
  text-decoration: none;
  color: var(--cor-input);
  cursor: pointer;
  padding: 0;
  margin: 2rem;
  border-radius: 25%;
}

a {
  text-decoration: none;
  color: var(--cor-input);
}

.icon-container {
  position: relative;
  text-align: center;
  list-style: none;
  font-size: 1.5rem;
  margin-top: 20px;
  background-color: var(--cor-branco);
  padding: 15px;
  border-radius: 50%;
}

.icon-text {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  opacity: 0;
  font-size: 1.2rem;
  background-color: var(--cor-input);
  color: var(--cor-branco);
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.icon-container:hover .icon-text {
  opacity: 1;
  visibility: visible;
}

/* home */
img {
  width: 450px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 30px;
  box-shadow: -10px 15px 12px var(--cor-preta);
}

.home-container {
  display: flex;
  padding: 3rem 8rem;
  gap: 6rem;
  justify-content: center;
  align-items: center;
}

.title {
  & h1 {
    font-family: "Mochiy Pop P One", sans-serif;
    color: var(--cor-preta);
    font-size: 2.4rem;
  }

  & span {
    color: var(--cor-input);
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
  }

  & h2 {
    font-family: "Mochiy Pop P One";
    color: var(--cor-input);
    font-size: 2rem;
    text-align: center;
    letter-spacing: 3px;
  }

  & .text-home {
    color: var(--cor-preta);
    font-size: 1.2rem;
    margin-top: 2rem;
    text-align: center;
    font-weight: 500;
  }
}

.see-more-btn {
  background-color: var(--cor-preta);
  color: var(--cor-botao);
  font-weight: 700;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s;

  &:hover {
    background-color: var(--cor-input);
    color: var(--cor-branco);
    max-width: 300px;
  }
}

.see-more-btn:last-child {
  margin-top: 2rem;
}

/* sobre */

.about-container {
  padding: 3rem 8rem;
}
