* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --color-input: #1900ff;

  --color-bg-icons-light: #f1f1f1;
  --color-text-light: #000000;
  --color-bg-light: #c5c5c5;
  --color-btn: #f1f1f1;
}

[data-theme="dark"] {
  --color-input: #1900ff;

  --color-bg-icons-light: #000000;
  --color-text-light: #f1f1f1;
  --color-bg-light: #222222;
  --color-btn: #000000;
}

body {
  background-color: var(--color-bg-light);
}

h3 {
  font-size: 2rem;
  font-family: "Mochiy Pop P One";
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: var(--color-text-light);
}

.container {
  padding: 3rem 10rem;
  margin-left: 2rem;
}

.title-pages {
  font-size: 3rem;
  text-align: center;
  font-family: "Mochiy Pop P One";
  font-weight: 500;
  color: var(--color-text-light);

  & span {
    color: var(--color-input);
    font-family: "Mochiy Pop P One";
  }
}

.underline {
  width: 150px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--color-text-light);
  margin: 4px auto 0 auto;
  margin-bottom: 4rem;
}

a {
  text-decoration: none;
  color: var(--color-input);
}

/* formatação scroll */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-input);
  border-radius: 20px;
}
