* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --cor-input: #1900ff;
  --cor-branco: #ffffff;
  --cor-preta: #000000;
  --cor-fundo: #cecece;
  --cor-botao: #ffffff;
}

body {
  background-color: var(--cor-fundo);
}

h3 {
  font-size: 2rem;
  font-family: "Mochiy Pop P One";
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.container {
  padding: 3rem 10rem;
  margin-left: 2rem;
}

.title-pages {
  font-size: 3rem;
  text-align: center;
  font-family: "Mochiy Pop P One";
  font-weight: 500;

  & span {
    color: var(--cor-input);
    font-family: "Mochiy Pop P One";
  }
}

.underline {
  width: 150px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--cor-preta);
  margin: 4px auto 0 auto;
  margin-bottom: 4rem;
}

a {
  text-decoration: none;
  color: var(--cor-input);
}

/* formatação scroll */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-input);
  border-radius: 20px;
}
